{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <img src="{{ asset('home.png') }}" alt="Logo">
    <br />
    <p> I'm {{name}} from {{country}}</p>
    <p>it's currently {{'now'|date('h:i A')}}</p>
    <br />
    {# <a href={{path("about_page")}}>About page</a> #}
{% endblock %}